{% extends 'base.html' %}
{% load static %}

{% block base %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-start mb-4" >
        <h3 class="text-primary" style="color: #5D9CEC !important;">MNums</h3>
        <p>MNums te ofrece soluciones aproximadas pero efectivas a problemas complejos</p>
    </div>
    <div class="card borde10" style="width: 400px;">
        <div class="card-body">
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="email" placeholder="Correo electrónico o numero de teléfono" 
                           style="border: 1px solid #DDDFE2; border-radius: 5px;">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" 
                           style="border: 1px solid #DDDFE2; border-radius: 5px;">
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary btn-custom" style="background-color: #5D9CEC; border: none;">
                        Iniciar sesión
                    </button>
                </div>
                <div class="text-center">
                    <a href="{% url 'registro' %}" class="btn btn-secondary btn-custom" style="background-color: #4FC0E8; border: none;">
                        Crear nueva cuenta
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}